<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&family=Poppins:wght@200&family=Prompt:wght@100&family=Roboto+Condensed:wght@300&family=Rubik:ital,wght@0,400;1,300&family=Ubuntu&display=swap&
    family=Roboto:wght@700&display=swap" rel="stylesheet">
    <title>Reset password</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            background-color: #3D3B40;
            font-family: 'Poppins', sans-serif;
            overflow: hidden;
        }
        header{
            color: #fff;
        }
        main section form{
            background-color: #0F0F0F;
            height: 400px;
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            border-radius: 5px;
        }
        label{
            color: #fff;
            width: 250px;
            text-align: start;
            font-weight: 800;
            
        }

        main section form .input{
            width: 100% ;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2px;
        }
        main section form .btn{
            width: 100% ;
            display: flex;
            justify-content: center;
        }
        main section form button{
            width: 50%;
            height: 2.5rem;
            color: #fff;
            background-color: #525CEB;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: 0.4s ease;
            font-family: 'Roboto', sans-serif;
            font-weight: 800;
        }
        main section form button:hover{
            background-color: #6a72ec;
        }
        main section form input{
            width: 250px;
            height: 2.5rem;
            border-radius: 10px;
            outline: none;
            text-align: center;
            border: 4px solid  #525CEB;
            background-color: transparent;
            color: #fff;
            transition: 0.2s;
        }
        main section form input:hover{
            border: 4px solid #929bfe;
        }
        main section form input:focus{
            border: 4px solid #b2b8fb;
        }
        footer{
            color: #fff;
            margin-top: 20px;
            font-size: larger;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <h1>Reset password</h1>
    </header>
    <main>
        <section>
            <form action="/api/new-password/<%= token %>" method="post">
               <div class="input">
                <label for="password">
                    Password
                </label>
                <input type="password" name="newPassword" id="password">
               </div>
                <div class="btn">
                    <button id="btn">
                        Submit
                    </button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        Thank you
    </footer>
</body>
</html>